<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="EntityFramework.zh-Hans" version="6.1.1" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.5" targetFramework="net45" />
  <package id="MySql.Data.Entity" version="6.9.5" targetFramework="net45" />
  <package id="odp.net.entityframework" version="6.121.1-beta" targetFramework="net45" />
  <package id="odp.net.managed" version="121.1.2" targetFramework="net45" />
</packages>